

.button {
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 4;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}


#menubuttons {
  position: absolute;
  top: 30vh;
  left: 10vw;
  width: 80vw;
  display: none;
  z-index: 4;
}
#returnbutton {
  position: absolute;
  top: 30vh;
  left: 10vw;
  width: 80vw;
  display: none;
  z-index: 4;
  height: 400px;
  background-color: white;
  cursor: pointer;
  transition-property: opacity, left;
  transition-duration: 2s, 1s;
  transition-delay: 2s;
}
