<div id="game">
</div>

<div id="menubuttons" class=" text-center">
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-2 bd-highlight inline">
      <h1 style="color: deepskyblue;" class="animated water">Killuminati</h1>
    </div>
    <div class="p-2 bd-highlight inline">
      <button type="button" (click)="startGame()" class="btn btn-primary button">
        <span>
        <i class="fas fa-play-circle "></i> Start
        </span>
      </button>
    </div>
    <div class="p-2 bd-highlight">
      <button type="button" (click)="showOverlayX()" class="btn btn-primary button"><span>
        <i class="fas fa-coins "></i>
         Record</span></button>
    </div>
    <div class="p-2 bd-highlight">
      <button type="button" (click)="showOverlayZ()" class="btn btn-primary button"><span>
        <i class="fas fa-stream "></i> Credit</span></button>
    </div>
    <div class="p-2 bd-highlight">
      <button type="button" (click)="showOverlayY()" class="btn btn-primary button"><span>
        <i class="fas fa-info-circle "></i> Info </span></button>
    </div>
  </div>
</div>




<div id="returnbutton" class=" text-center">
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-5 bd-highlight">
      <button style="left:50px;position: absolute;color: white;" type="button" (click)="loadGameOver()"  class="btn btn-primary button">
        <i class="fas fa-window-close ">
        </i>
      </button>
    </div>
    <div class="p-3 bd-highlight ">
      <h1 class="animated water">Gameover</h1>
    </div>
    <div class="p-1 bd-highlight">
      <p><i class="fas fa-info-circle "></i>Punteggio: {{getLast()}}</p>
    </div>
    <div class="p-1 bd-highlight">
      <div id="ady"></div>
    </div>
  </div>
</div>

