<div id="game">
</div>
<div id="gamepanel">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"><h4>Header</h4><h4>Header</h4><h4>Header</h4><h4>Header</h4></div>
  </div>

</div>
<div id="menubuttons">
  <button type="button" (click)="startGame()" class="btn btn-primary">Start</button>
  <button type="button" (click)="showOverlayX()" class="btn btn-primary">Record</button>
  <button type="button" (click)="showOverlayZ()" class="btn btn-primary">Credit</button>
  <button type="button" (click)="showOverlayY()" class="btn btn-primary">Info</button>
</div>
<div id="returnbutton">
  <button type="button" (click)="loadGameOver()" class="btn btn-success">Ricomincia</button>
</div>
