#navbarjoypad {
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 4;
}
#gamepanel {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 4;
}
#menubuttons {
  position: fixed;
  top: 300px;
  left: 50px;
  display: none;
  z-index: 4;
}
#returnbutton {
  position: fixed;
  top: 300px;
  left: 50px;
  display: none;
  z-index: 4;
}
