<div id="game">
</div>
<div id="joypad">
  <div id="back"></div>
  <div id="front"></div>
</div>
<div id="gamepanel">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"><p>Required: {{getRequiredPoint()}}</p>
      <p>Current Time: {{getCurrentTime()}}</p>
      <p>Time Limit: {{getTimeLimit()}}</p>
      <p>Score:{{getScore()}}</p></div>
  </div>

</div>
<div id="menubuttons">
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-2 bd-highlight">
      <button type="button" (click)="startGame()" class="btn btn-primary">Start</button>
    </div>
    <div class="p-2 bd-highlight">
      <button type="button" (click)="showOverlayX()" class="btn btn-primary">Record</button>
    </div>
    <div class="p-2 bd-highlight">
      <button type="button" (click)="showOverlayZ()" class="btn btn-primary">Credit</button>
    </div>
    <div class="p-2 bd-highlight">
      <button type="button" (click)="showOverlayY()" class="btn btn-primary">Info</button>
    </div>
  </div>
</div>
<div id="returnbutton">
  <button type="button" (click)="loadGameOver()" class="btn btn-primary">Ricomincia</button>
</div>
<div id="navbarjoypad">
    <button type="button" (click)="PlayerControlUp()" class="btn btn-primary">Up</button>
    <button type="button" (click)="PlayerControlDown()" class="btn btn-primary">Down</button>
    <button type="button" (click)="PlayerControlFire()" class="btn btn-primary">Fire</button>
</div>


