
#overlayz, #overlayy, #overlayx {
  position: absolute;
  top: 30vh;
  left: 10vw;
  width: 80vw;
  height: 400px;
  display: none;
  z-index: 4;
  background-color: white;
  cursor: pointer;
  transition-property: opacity, left;
  transition-duration: 2s, 1s;
  transition-delay: 2s;
}

#textx, #texty, #textz{
  position: absolute;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transition-property: opacity, left;
  transition-duration: 5s, 4s;
  transition-delay: 5s;
}

#ad{
  z-index: 6;
  width: 120px;
  height: 90px;
  position: absolute;
}

