#overlayz {
  position: absolute;
  top: 30vh;
  left: 10vw;
  width: 80vw;
  height: 400px;
  display: none;
  z-index: 4;
  background-color: white;
  cursor: pointer;
  transition-property: opacity, left;
  transition-duration: 2s, 1s;
  transition-delay: 2s;
}

#ad{
  z-index: 6;
  width: 120px;
  height: 90px;
  position: absolute;
}

#textz{
  position: absolute;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transition-property: opacity, left;
  transition-duration: 3s, 2s;
  transition-delay: 2s;
}


#overlayx {
  position: absolute;
  top: 30vh;
  left: 10vw;
  width: 80vw;
  height: 400px;
  display: none;
  z-index: 4;
  background-color: white;
  cursor: pointer;
  transition-property: opacity, left;
  transition-duration: 2s, 1s;
  transition-delay: 2s;
}


#textx{
  position: absolute;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transition-property: opacity, left;
  transition-duration: 3s, 2s;
  transition-delay: 2s;
}

#overlayy {
  position: absolute;
  top: 30vh;
  left: 10vw;
  width: 80vw;
  height: 400px;
  display: none;
  z-index: 4;
  background-color: white;
  cursor: pointer;
  transition-property: opacity, left;
  transition-duration: 2s, 1s;
  transition-delay: 2s;
}

#texty {
  position: absolute;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transition-property: opacity, left;
  transition-duration: 3s, 2s;
  transition-delay: 2s;
}
