<div id="overlayz" class=" text-center">
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-5 bd-highlight">
       <button type="button" (click)="toHome()" id="textz" class="btn btn-primary button">
      <i class="fas fa-window-close ">
      </i>
       </button>
    </div>
    <div class="p-3 bd-highlight ">
      <h1> Record </h1>
    </div>
    <div class="p-1 bd-highlight">
    </div>
    <div class="p-1 bd-highlight">
      <i class="fas fa-stream "></i>
      Il tuo punteggio:{{getScore()}}
    </div>
  </div>
</div>

<div id="overlayx" class=" text-center">
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-5 bd-highlight">
      <button type="button" (click)="toHome()" id="textx" class="btn btn-primary button">
        <i class="fas fa-window-close ">
        </i>
      </button>
    </div>
    <div class="p-3 bd-highlight ">
      <h1>Info</h1>
    </div>
    <div class="p-1 bd-highlight">
      <i class="fas fa-stream "></i>
    </div>
  </div>
</div>
<div id="overlayy" class=" text-center">
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-5 bd-highlight">
      <button type="button" (click)="toHome()" id="texty" class="btn btn-primary button">
        <i class="fas fa-window-close ">
        </i>
      </button>
    </div>
    <div class="p-3 bd-highlight ">
      <h1>Credits</h1>
    </div>
    <div class="p-1 bd-highlight">
      <i class="fas fa-stream "></i>
    </div>
  </div>
</div>


